<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


</head>

<body>
    <div class="col-md-6 offset-md-3">
        <span class="anchor" id="formChangePassword"></span>
        <hr class="mb-5">
        <!-- form card change password -->
        <div class="card card-outline-secondary">
            <div class="card-header">
                <h3 class="mb-0">Change Password</h3>
            </div>
            <div class="card-body">
                <form class="form" role="form" autocomplete="off" id="passwordForm">
                    <div class="form-group">
                        <label for="inputPasswordNew">New Password</label>
                        <input type="password" class="form-control" id="inputPasswordNew" required="">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary toggle-password" type="button"
                                toggle="#inputPasswordNew">Show</button>
                        </div>
                        <span class="form-text small text-muted"> The password must be 8 or more characters, an
                            uppercase character, a lowercase character, a number, and a special character. </span>
                    </div>
                    <div class="form-group">
                        <label for="inputPasswordNewVerify">Confirm</label>
                        <input type="password" class="form-control" id="inputPasswordNewVerify" required="">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary toggle-password" type="button"
                                toggle="#inputPasswordNewVerify">Show</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success btn-lg float-right" id="saveBtn">Save</button>
                    </div>
                </form>
            </div>
        </div>
        <!-- /form card change password -->
    </div>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script>
        $(document).ready(function () {

            $(".toggle-password").click(function () {
                var input = $($(this).attr("toggle"));
                if (input.attr("type") == "password") {
                    input.attr("type", "text");
                } else {
                    input.attr("type", "password");
                }
            });
            $("#saveBtn").click(function (event) {
                event.preventDefault();

                var newPassword = $("#inputPasswordNew").val();
                var confirmPassword = $("#inputPasswordNewVerify").val();

                // Check if passwords match
                if (newPassword !== confirmPassword) {
                    alert("Passwords do not match");
                    return;
                }

                // Check password requirements
                const isLengthValid = newPassword.length >= 8;
                const hasUpperCase = /[A-Z]/.test(newPassword);
                const hasLowerCase = /[a-z]/.test(newPassword);
                const hasNumber = /\d/.test(newPassword);
                const hasSpecialChar = /[!@#$%^&*()\[\]{}\\|;:'",<.>/?`~-]/.test(newPassword);

                if (!(isLengthValid && hasUpperCase && hasLowerCase && hasNumber && hasSpecialChar)) {
                    alert("Password does not meet the requirements");
                    return;
                }

                // Extract email parameter from the current URL
                const urlParams = new URLSearchParams(window.location.search);
                const email = urlParams.get('email');

                // If validation passed, make a POST request
                // fetch('http://127.0.0.1:5050/change_completed', {
                fetch('http://134.119.216.59:5050/change_completed', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({
                        "password": newPassword,
                        "email": email,
                    }),
                })
                    .then(response => {
                        // Handle the redirection if needed
                        if (response.redirected) {
                            window.location.href = response.url;
                        } else {
                            // Get the response as text
                            return response.text();
                        }
                    })
                    .then(html => {
                        // Write the HTML string to the document
                        document.write(html);
                        document.close();
                    })
                    .catch(catchError => {
                        console.log(catchError);
                    })
            });
        });
    </script>
</body>

</html>